.forms{
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input{
        color: #000;
        border: none;
        border-radius: 5px;
        height: 52px;
        margin-top: 15px;
        padding: 0 20px;
    }
    input.error{
        border: 2px solid $main-color;
       
    }
    label.error{
        color: $main-color;
    }
}